body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c4d3b0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#description {
    color: antiquewhite;
    font-size: 25px;
}

.display {
    width: 300px;
    background-color: #222;
    color: white;
    font-size: 3em;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-gap: 10px;
}

.button {

    background-color: #e49d23;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 3em;
    cursor: pointer;
    text-align: center;
}

.button.operator {
    background-color: #e97917;
    width: 100px;
}

.button.equals {
    background-color: #2788ae;
    grid-column: span 2;
}

.button.clear {
    background-color: #83160a;
    grid-column: span 2;
}